.stoil4 .biaoti4 {
    background-image: url('../images/stoins4/disanbankuaiyishuzi.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
}

.stoil4 .wepo {
    display: flex;
    justify-content: center;
    margin: 40px auto;
}

.stoil4 .wepo video {
    width: 800px;
    height: 425px;
    margin: 100px auto;
}

.stoil4 .wepo video::-webkit-media-controls-timeline {
    display: none;
}

.stoil4 .wepo ul {
    list-style-type: none;
    width: 1040px;
    margin: auto auto;
}

.stoil4 .wepo ul li {
    font-weight: 700;
    display: block;
    font-size: 30px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.stoil4 .wepo ul li.fade-in {
    opacity: 1;
}